& {
    width: 100%;
    background: white;
    height: 20px;
}

.view-box {
    position: absolute;
    height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    &.largest {
        background: whitesmoke;
        z-index: 1;
        &:hover {
            background: #eee;
            z-index: 100;
        }
    }
    &.large {
        background: #eee;
        z-index: 2;
        &:hover {
            background: #ddd;
            z-index: 100;
        }
    }
    &.normal {
        background: #ddd;
        z-index: 3;
        &:hover {
            background: #ccc;
            z-index: 100;
        }
    }
    &.small {
        background: #ccc;
        z-index: 4;
        &:hover {
            background: #bbb;
            z-index: 100;
        }
    }
}