& {
    display: flex;
    flex-direction: row-reverse;
}

.sidebar {
    position: relative;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    z-index: 10;
    height: 100%;
    overflow: hidden !important;
}

.section {
    height: 100%;
    flex-grow: 1;
}

.section-container {
    position: relative;
    overflow: hidden;
}

.preview-container {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}