& {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background: white;
    box-shadow: 0 0 50px #ccc;
    z-index: 100;
    left: 0;
    top: 0;
}

.title-container {
    cursor: move;
}

.container-box {
    position: relative;
    height: 100%;
    .handle-drag-close {
        color: #666;
        cursor: pointer;
        padding: 10px 15px 10px 15px;
        user-select: none;
        z-index: 200;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
            color: #333;
            transition: color .3s;
        }
    }
}

.edit-container {
    overflow-y: auto;
    flex-grow: 1;
}

.content-container {
    display: flex;
    flex-direction: column;
}