& {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background: white;
    box-shadow: 0 0 50px #ccc;
    z-index: 100;
}

.handle-drag {
    height: 35px;
    background: whitesmoke;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
    .handle-drag-close {
        color: #666;
        cursor: pointer;
        padding: 10px 15px 10px 15px;
        user-select: none;
        &:hover {
            color: #333;
            transition: color .3s;
        }
    }
    .handle-drag-nav-container {
        height: 25px;
        display: flex;
        padding: 0 15px;
        user-select: none;
        .handle-drag-nav {
            padding: 5px 10px 0 10px;
            cursor: pointer;
            font-size: 12px;
            color: #666;
            margin-bottom: -1px;
            border: 1px solid #ddd;
            border-bottom: none;
            &.handle-drag-nav-active {
                cursor: default;
                background: white;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }
}

.edit-container {
    padding: 10px;
}